Repository elastic/elasticsearch-py, pull requests merged in 2021-03, with the labels that each got.

#1541 [DOCS] Fixes typo and removes licence info
  docs/guide/overview.asciidoc
Labels: 7.x, backport 7.11, backport 7.12, backport 7.x, docs

#1542 [7.x][DOCS] Fixes typo and removes license info
  docs/guide/overview.asciidoc
Labels: 7.x, backport 7.x, docs

#1545 [DOCS] Adds Integrations section to Python book
  docs/guide/index.asciidoc
  docs/guide/integrations.asciidoc
Labels: 7.x, 8.x, docs

#1549 [7.x][DOCS] Adds Integrations section to Python book
  docs/guide/index.asciidoc
  docs/guide/integrations.asciidoc
Labels: 7.x, backport 7.x, docs

#1547 add missing comma in async docs
  docs/sphinx/async.rst
Labels: backport 7.11, backport 7.12, backport 7.x

#1551 [DOCS] Adds Examples section to Python book
  docs/guide/connecting.asciidoc
  docs/guide/examples.asciidoc
  docs/guide/index.asciidoc
Labels: 7.x, 8.x, backport 7.12, backport 7.x, docs

#1552 [7.x] [DOCS] Adds Examples section to Python book
  docs/guide/connecting.asciidoc
  docs/guide/examples.asciidoc
  docs/guide/index.asciidoc
Labels: 7.x, backport 7.x, docs

#1558 Revert "Update .ci/make.sh with new command skeletons"
  .ci/make.sh
Labels: backport 7.11, backport 7.12, backport 7.x, bug

#1561 Build dists in Docker during make.sh assemble
  .ci/make.sh
  .github/workflows/ci.yml
  .github/workflows/unified-release.yml
Labels: backport 7.12, backport 7.x
